 

.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.loginForm {
  height: 40rem;
  width: 30rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: center;
  align-items: center;
}
.inputField {
  font-size: 10px;
  display: block;
  height: 3.5rem;
  width: 100%;
  margin: 1rem 0;
  padding: 0.5rem;
  border-radius: 6px;
}
.loginButton {
  width: 18rem;
  height: 3rem;
  border-radius: 6px;
  background-color: #3360bf;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  box-shadow: 3px;
}

